{% extends '/parts/base.twig' %}

{% block ajax %}

    <script type="text/javascript">
        $(document).ready(function () {
            let num = 10;
            let inProcess = false;
            // это будет запускаться тогда, когда страница будет прокручиваться
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() && !inProcess) {
                    $.ajax({
                        url: "../../src/cardsAndAccounts/loadCards.php",
                        method: "GET",
                        data: {"num": num},
                        beforeSend: function () {
                            inProcess = true;
                        }
                    }).done(function (data) {
                        data = jQuery.parseJSON(data)
                        console.log(data)
                        if (data.length > 0) {
                            $.each(data, function (index, data) {
                                $("#cards-list").append(
                                    "<div class=\"card mb-3\">" +
                                    "<div class=\"container mt-1 mb-1\">" +
                                    "<div class=\"row align-items-center\">" +
                                    "<div class=\"col-3 align-content-center\">" +
                                    "<b>" + data.number + "</b>" +
                                    "</div>" +
                                    "<div class=\"col align-content-center\">" +
                                    " <b>Заявитель:</b> " +
                                    data.surname + " " +
                                    data.given_name + " " +
                                    data.patronymic +
                                    "</div>" +
                                    "<div class=\"col-3 align-content-center\">" +
                                    "<div class=\"d-flex justify-content-end\">" +
                                    "<a class=\"btn btn-outline-primary\" href=\"/cards/" + data.id + "\">" +
                                    "Подробнее</a>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>"
                                )
                            });
                            inProcess = false;
                            num += 10;
                        }
                    });
                }
            })
        })
    </script>

{% endblock %}

{% block body %}
    <h1>Карты</h1>
    <p>На этой странице представлен список всех карт, которые должны приехать в отделение</p>
    <div id="cards-list">
        {% for card in cards %}
            <div class="card mb-3">
                <div class="container mt-1 mb-1">
                    <div class="row align-items-center">
                        <div class="col-3 align-content-center">
                            <b>{{ card.number }}</b>
                        </div>
                        <div class="col align-content-center">
                            <b>Заявитель:</b>
                            {{ card.surname }}
                            {{ card.given_name }}
                            {{ card.patronymic }}
                        </div>
                        <div class="col-3 align-content-center">
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-outline-primary" href="/cards/{{ card.id }}">
                                    Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}