{% extends '/parts/base.twig' %}

{% block body %}
    {% if message is not null%}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body align-content-center">
            <h1 class="card-title">Карта №{{ card.num }}</h1>
            <p class="card-text">
                <b>ФИО:</b> {{ card.surname }} {{ card.given_name }} {{ card.patronymic }}
                <br>
                <b>Возраст:</b> {{ card.age }}
                <br>
                <b>Паспорт:</b>
                <br>
                <b>Серия:</b> {{ card.series }} <b>Номер:</b> {{ card.number }}
                <br>
                Сверьте персональные данные клиента с данными предоставленными на экране.
                При несовпадении отклоните выдачу карты,
                клиенту будет необходимо исправить свои данные, после чего подать заявление повторно</p>
            <form method="post" action="/card-giving-post/{{ card.id }}">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="pin" class="col-sm-2 col-form-label"><b>PIN</b></label>
                        <input type="text" name="pin" class="form-control" id="pin"
                               placeholder="1234" value="{{ card ? card.pin }}">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                           value="approved" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Одобрить
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                           value="rejected">
                    <label class="form-check-label" for="exampleRadios2">
                        Отклонить
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Завершить обработку</button>
            </form>
        </div>
    </div>
{% endblock %}